body{
    margin:0;
    font-family: Georgia, serif;
    background: linear-gradient(to bottom, #ffffff, #b30000);
    color:#222;
}

header{
    background: linear-gradient(to right, #b30000, #ffffff);
    text-align:center;
    padding:40px;
}

header h1{
    font-size:50px;
    color:#8B0000;
}

header p{
    font-size:20px;
}

nav{
    background:white;
    text-align:center;
    padding:15px;
}

nav a{
    margin:20px;
    text-decoration:none;
    color:#8B0000;
    font-weight:bold;
    font-size:20px;
}

section{
    padding:40px;
    max-width:900px;
    margin:auto;
}

h2{
    color:#8B0000;
    border-bottom:3px solid #8B0000;
    padding-bottom:10px;
}

img{
    width:300px;
    display:block;
    margin:auto;
    border-radius:15px;
    animation: flotar 4s infinite ease-in-out;
}

@keyframes flotar{
    0%{transform: translateY(0px);}
    50%{transform: translateY(-15px);}
    100%{transform: translateY(0px);}
}

.boton{
    display:block;
    text-align:center;
    margin:40px;
}

.boton a{
    background:#8B0000;
    color:white;
    padding:15px 30px;
    text-decoration:none;
    font-size:18px;
    border-radius:10px;
}

body{
    background-image: url(""); /* ruta de la imagen */
    background-repeat: no-repeat; /* que no se repita */
    background-position: center; /* centrada */
    background-size: 400px; /* tamaño de la marca */
    opacity: 0.95; /* opcional */
}

footer{
    text-align:center;
    padding:20px;
    background:#8B0000;
    color:white;
}

 /* 📲 Tablet */
    @media (max-width: 900px){
        .contenedor{
            grid-template-columns: repeat(2, 1fr);
        }
    }

    /* 📱 Celular */
    @media (max-width: 600px){
        .contenedor{
            grid-template-columns: 1fr;
        }

        nav{
            flex-direction:column;
            text-align:center;
        }
    }